/* src/App.css */

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #FFFFFF; /* Fondo blanco general */
}

.App {
  /* Ocupa toda la pantalla para poder centrar contenido verticalmente */
  min-height: 100vh;
  position: relative;
}

.top-left-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
  z-index: 10; /* Asegura que esté por encima de otros elementos */
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
