/* Estilos generales */
* {
    box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato";

}

:root {
    --blue-light:#0080C9;
    --blue-dark: #003D7B;
    --white: white;
    --black: black;
}
html{
        font-size: 62.5%;   
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: center;
}

.userForm{
    width: 200px;
}

h2 {
    font-size: large;
    margin-bottom: 30px;
    color: var(--blue-light);

}

label {
    font-size: 1.5rem;
    margin-bottom: 5px;
    display: block;
    color: var(--blue-dark);
    
}

input, select, button {
    color: var(--blue-dark);
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1.5px solid var(--blue-light);
}

button {
    background-color: var(--blue-light);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--blue-dark);
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}


table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.title_status{
    font-size: 1.5rem;
    font-weight: bolder;
}

.status {
   display: flex;
   justify-content: space-around;
}
