* {
    box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato";

}

:root {
    --blue-light:#0080C9;
    --blue-dark: #003D7B;
    --white: white;
    --black: black;
    --gray:#f8f9fa; 
}
html{
        font-size: 62.5%;   
}
 
.container_users{
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 50px auto;
    }

    table {
        width: 10%;
        border-collapse: collapse;
       
    }
    .thead-dark {
        width: 100px;
        background-color: var(--blue-dark);
        color: var(--white);
        font-size: xx-large;
        
    }
    .thead-dark th {
        padding: 10px;
        text-align: center;
    }
    .tbody-light {
        background-color: var(--gray);
        color: black;
        font-size: x-large;
    }
