
* {
    box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato";

}

:root {
    --blue-light:#0080C9;
    --blue-dark: #003D7B;
    --white: white;
    --black: black;
}
html{
        font-size: 62.5%;   
}


.container{
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 50px auto;
    
}
.thead-dark{
    background-color: var(--blue-dark);
    color: var(--white);
}

.tbody-light{
    background-color: var(--blue-light);
    color: var(--white);
}
#userTable{
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    margin: 0 auto;

}

#userTable thead tr{
    background-color: var(--blue-dark);
    color: var(--white);
    text-align: left;
}