<img class="logo" src="/src/app/assets/images/IMAGE_IMEVI.png" alt="LOGO IMEVI">
<div class="container">
  
  <div class="card">
      <img class="image_docu" src="/src/app/assets/images/LOGO_DOCU.png" alt="Logo docu">
      <a class="login">DOCUMEVI</a>
      <div class="inputBox">
          <input type="text" required="required">
          <span class="user">DOCUMENTO</span>
      </div>

      <span id="togglePassword" class="fa fa-eye"></span>
      <div class="inputBox">
          <input type="password" id="passwordInput" required="required">
          
          <span>CONTRASEÑA</span>
          
      </div>

      <button class="enter">INGRESAR</button>
      </div>
    </div>