


.login {
  color: white;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  font-size: x-large;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  width: 300px;
  flex-direction: column;
  gap: 35px;
  background-color: #0080C9;
  margin: 0 auto;
  border-radius: 8px;
}

.inputBox {
  position: relative;
  width: 250px;
}

.inputBox input {
  width: 87%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1rem;
  background: transparent;
  border-bottom: 2px solid white;
  transition: 0.1s;
  
}
input::placeholder{
color: white;
}

.inputBox span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  transition: 0.5s;
  border-radius: 8px;
}


.inputBox input:focus ~ span 
{
  transform: translateX(113px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}


.inputBox input:focus {
  border: 2px solid white;
  border-radius: 8px;
}

.enter {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid white;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 1em;
  color: white;
}

.enter:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  border: 2px solid black;
}

.inputBox button{
  position: relative;

}

.eye{
position: relative;
left: 246px;
bottom: 13px;
width: 10px;
height: 10px;
background-color: transparent;
border-radius: transparent;
cursor: pointer;
}
.eye span{
position: relative;
left: -28px;
bottom: 7px;
}

a{
  text-decoration: none;
  color:white;

}

