<img class="logo" [src]="img().logoImevi" alt="LOGO IMEVI">
<div class="container">
  
  <div class="card">
      <img class="image_docu" [src]="img().logoDocumevi" alt="Logo docu">
      <a class="login">DOCUMEVI</a>
      <div class="inputBox">
          <input type="number" placeholder="Documento">
          
      </div>

    
      <div class="inputBox">
          
        <input [type]="passwordVisible ? 'text' : 'password'" [(ngModel)]="password" placeholder="Contraseña">
        <button class="eye" type="button" (click)="togglePasswordVisibility()">
            <span *ngIf="passwordVisible">🙈</span>
            <span *ngIf="!passwordVisible">👁️</span>
          </button>
      </div>

      <button class="enter">INGRESAR</button>
      <a href="">¿Olvido su contraseña?</a>
      <p><a href="">Terminos y condiciones</a></p>

      </div>
    </div>