<h1>Lista de Usuarios</h1>

<ul>
  <li *ngFor="let usuario of usuarios">
    ID Documento: {{ usuario.id_Documento }} - {{ usuario.Nombre }} - {{ usuario.Correo }} - Perfil: {{ usuario.id_Perfil }}
  </li>
</ul>

<h2>Agregar Nuevo Usuario</h2>

<form (ngSubmit)="addUsuario()">
  <label for="idDocumento">ID Documento:</label>
  <input type="text" id="idDocumento" [ngModel]="nuevoUsuario.id_Documento" name="idDocumento" required>

  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" [ngModel]="nuevoUsuario.Nombre" name="nombre" required>

  <label for="correo">Correo:</label>
  <input type="email" id="correo" [ngModel]="nuevoUsuario.Correo" name="correo" required>

  <label for="idPerfil">ID Perfil:</label>
  <input type="number" id="idPerfil" [ngModel]="nuevoUsuario.id_Perfil" name="idPerfil" required>

  <button type="submit">Agregar Usuario</button>
</form>
